.title {
  background-color: blueviolet;
}

.newTodo {
 background-color: chartreuse;
}

.todolist {
  border-collapse: collapse;
  background-color: aqua;
}
table th, table td{
  border: 1px solid #456789;
  padding: 10px;
}
.javaScriptTest {
  background-color: coral;
}