.newTodoForm {
 background-color: chartreuse;
 padding: 20px;
}
table th, table td{
  border: 1px solid #456789;
  padding: 10px;
}
.divTable {
  background-color: coral;
}
.todoTable {
 background-color: aqua;
}